/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */




.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.navbar {
    height: 60px;
   
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
 
}
body {
    background: #f3f5f9;
    background-color: lightgray;
    
}
.sidebar {
    position:fixed;
    width: 200px;
    height:100%;
    background: #3b5998;
}

  .sidebar ul li a {
        color: #fff;
        text-align:center;
    }

.sidebar ul li {
        position:relative;
        padding: 15px;
        border-bottom: 1px solid black;
        transition: .10s;
        text-align: center;
        
       
    }
.sidebar ul li:hover{
    background: black;
}


   .sidebar ul .dropdown {     /*sonraki açılır menü düzeni için*/
        position: absolute;
        top:50px;
        left:55px;
        width:120px;
        text-align:center;
        display:none;
        
    }


    .sidebar ul ul { /*sonraki açılan menü*/
        flex-direction: column;
        align-items:flex-start;
    }


    .sidebar ul ul li{
         width:100%;
     }

    .sidebar ul ul li a { /*sonraki açılan menü içindeki yazılar*/
        flex:1;
        display:flex;
        justify-content:space-between;
     }

    .sidebar ul li .dropdown {
        left: 185px; /*mesela menüde müşterinin üzerine gelince yeni açılan menü ana menüye tam bitişik oluyo*/
        top: 0;
        padding-left: 15px;
        margin-left: 0;
        padding-top: 0;
        transition: .10s;
        
        position:absolute;
        
    }

    .sidebar ul .dropdown ul {
        position: relative;
        color: #fff;
        background: #3b5998;
        display: block;
        top: 0;
        text-align: center;
        z-index: 2;
    }

        .sidebar ul li:hover a + .dropdown {
        display: block;
    }