

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Hakkımızda</title>
    <link rel="stylesheet" href="~/css/site.css" />

   
</head>
<body>
    <div class="hakkimizda">
    <h1>Niba Rent a Car</h1>
    <p>En iyi araba kiralama firması olarak sizlere hizmet etmekten mutluluk duyarız.</p>
    <br/>
    <p>
        "Rent a Car’" olarak dünyada oldukça popüler bir hale gelen araç kiralama işlemini gerçekleştirmeden önce dikkat etmeniz gereken
        birtakım hususlar bulunuyor. Siz de araç kiralama işlemini gerçekleştirmeden önce aşağıdaki hususları göz önünde bulundurabilir, 
        kendiniz için en doğru seçimi yapabilirsiniz. Araç kiralarken dikkat etmeniz gereken hususlar ise şu şekilde sıralanıyor:

        Seçim yaparken dikkat edilmesi gereken ilk husus, oto kiralama konusundaki temel ihtiyaçlarınızı göz önünde bulundurmanız oluyor. 
        İş amaçlı seyahatleriniz için kiralayacağınız bir araç ile gezi amaçlı kiralayacağınız bir araçta öncelikleriniz farklı olabiliyor. 
        Dolayısıyla bu noktada ilk olarak önceliklerinizi belirlemeniz gerekiyor.

        Seyahat edeceğiniz yerleri göz önünde bulundurmanız da önemli bir husus olarak öne çıkıyor. Özellikle şehir dışına çıkacaksanız
        ilgili şehrin iklim ve yol koşullarına uygun bir araç seçmeniz önem arz ediyor.
        Araç kiralama işlemini gerçekleştirirken yapılması gereken ödemeler hakkında bilgi sahibi olmanız gerekiyor. Bu noktada en uygun 
        araç kiralama fırsatlarını göz önünde bulundurmanızda fayda var.
        Araç teslim işlemi gerçekleştirilirken araç kiralama şirketi ile kişiler arasında çeşitli anlaşmalar gerçekleştiriliyor. 
        Aracınızı teslim alırken yakıt deposunun doluluk miktarının, ilgili anlaşmaya uygunluk gösteriyor olduğunu teyit etmeniz gerekiyor.
        Ucuz araç seçenekleri arasından kiralamak istediğiniz aracın kasko, sigorta durumunu ve diğer tescil işlemlerini kapsamlı
        bir şekilde araştırmanız gerekiyor.
        Seçeceğiniz aracın yolcu kapasitesinin, seyahat edecek kişi sayısına uyum sağlıyor olması gerekiyor.
        Çoğu zaman bu durum göz önünde bulundurularak daha geniş araçlar tercih edilebiliyor.
        Araçta kilometre sınırı olup olmadığının belirlenmesi, bu konunun aracı teslim almadan önce ilgili firmadan öğrenilmesi gerekiyor.
    </p>
    </div>
</body>
</html>
