
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Iletisim</title>
    <link rel="stylesheet" href="~/css/site.css" />

  
</head>
<body>
    <div class="iletisim">
        <h3>Niba Rent a Car</h3>
        <p>Aracınızla güzel bir seyehat için bize ulaşın</p>
        <br />
        <p>
            Tel No   : 0585 852 74 96
        </p>
        <br/>
        <p>
          Eposta  : niba.car@gmail.com
        </p>
      
    </div>
</body>
</html>
