@model ArabaKiralamaWebApp.Models.Araba;
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yeni Araba</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css"/>



</head>
<body>



    <form class="demo-form3" asp-action="YeniAraba" method="post" enctype="multipart/form-data">
                <h3 class="yeniaraba">Araba Bilgilerini Giriniz</h3>
        
        <div class="input-wrapp">
            <label class="f-titlee" for="marka">Araba Marka</label>
            <input type="text" id="model" name="Araba_Marka" class="inputt" placeholder="örn: Ford" required>

        </div>

        <div class="input-wrapp">
            <label class="f-titlee" for="model">Araba Model</label>
            <input type="text" id="model" name="Araba_Model" class="inputt" placeholder="örn: Ford K" required>
        </div>

        <div class="input-wrapp">
            <label class="f-titlee" for="yıl">Yıl</label>
            <input type="text" id="yıl" name="Yıl" class="inputt" placeholder="" required>
        </div>
        <div class="input-wrapp">
            <label class="f-titlee" for="fiyat">Fiyat</label>
            <input type="text" id="fiyat" name="Fiyat" class="inputt" placeholder="" required>
        </div>

        <div class="input-wrapp">
            <label class="f-titlee" for="plaka">Araba Plaka</label>
            <input type="text" id="plaka" class="inputt" name="Araba_Plaka" placeholder="" required>
        </div>

        <div class="input-wrapp">
            <label class="f-titlee" for="renk">Araba Rengi</label>
            <input type="text" id="renk" name="Araba_Renk" class="inputt" placeholder="" required>
        </div>

        <div class="input-wrapp">
            <label class="f-title">Fotoğraf</label>

            <input name="FileName" type="file" />
        </div>

        <div class="input-wrapp">
        <input type="submit" id="submit" name="submit" value="Ekle">
       </div>

    </form>


</body>
</html>